.red {
    color: red;
    background-color: red;
}
h2{
    text-align: center;
}

h3{
    text-align: center;
}
h1 {
    text-align: center;
    background-color: lightgray;
}

#color-Red{
    text-align: left;
    width: 25%;
}

#table-header{
    background-color: lightgray;
}

.remove-Button{
    background-color: lightgray;
}

/* from w3schools */
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
  }

