.red {
    color: red;
    background-color: red;
}

h1 {
    text-align: center;
}

  #color-Red{
    text-align: right;
}

#table-header{
    background-color: lightgray;
}

.remove-Button{
    background-color: lightgray;
}

/* from w3schools */
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }

